/***************
COLOR VARIABLES
***************/
$primary-color: purple;
$link-color: $primary-color;

/***************
CONSISTENT SETTINGS
***************/
$padding: 50px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.

/***************
TYPE SETTINGS
***************/
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
$sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

/***************
SIZES
Browser Context (this is needed for the px to em's mixin)
***************/
$browser-context: 16; // Default

/***************
RESPONSIVE BREAKPOINTS
***************/
$breakpoints: (md: 768px);
